<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>eMail from Stil-Plast.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
        }
    </style>
</head>
 <body>
           <div th:switch="${rows}" class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <h3 th:case="null">Заказ пуст!</h3>
                    <div th:case="*">
                        <h3 class="my-5">Заказ №<span th:text="${orderNumber}"></span> от <span th:text="${orderDate}"></span>. <span th:text="${orderSample}"></span></h3>
                        <h3 class="my-5">Клиент: <span th:text="${clientName}"></span></h3>
                        <table border="1" class="table table-responsive-md text-nowrap">
                            <thead class="thead-dark">
                                <tr>
			                        <th>Наименование</th>
									<th>Количество</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p : ${rows}">
				                    <td th:text="${p.sProduct}"></td>
									<td align ="center" th:text="${p.number}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="my-5">Всего, шт.: <span th:text="${orderTotal}"></span></h3>
                    </div>                      
                </div>
            </div>
           </div> 
        <br />
        <br />
  </body>
</html>